*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 198, 198);
}
div{
    margin: 1%;
    background-color: white;
}
#healder{
    width: 100%;
}
#content{
    width: 90%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}
