body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #f2f2f2;
}

main,
footer {
    padding: 20px;
}

header {
    border-top: #ffffff 20px solid;
}

div {
    position: relative;
    text-align: center;
    background-color: white;

}

.h1 {
    width: 100%;
    height: 230px;
}

#text {
    text-align: initial;
    margin-left: 6.5%;

}

#text2 {
    text-align: initial;
    margin-left: 10.2%;
    font-size: 16pt;
}

#text3 {
    text-align: initial;
    margin-left: 13%;
    font-size: 16pt;
}

#linha-horizontal1 {
    margin-left: 6.2%;
    width: 36%;
    height: 5px;
    background-image: linear-gradient(to right, #e62259, #6c5aa2);
}

#linha-horizontal2 {
    margin-left: 10%;
    width: 40%;
    height: 5px;
    background-image: linear-gradient(to right, #76C7CF, #665FA6);
}

#linha-horizontal3 {
    margin-left: 13%;
    width: 40%;
    height: 5px;
    background-image: linear-gradient(to right, #75C7CF, #38B389);
}

.conteudo {
    width: 87%;
    height: 420px;
}

.img1 {
    width: 75%;
    height: 85%;
    margin-right: 35px;
}

.img2 {
    width: 75%;
    height: 85%;
}

.logo {
    width: 100%;
    height: 120px;
    margin-top: 70px;
}

section {
    margin-bottom: 20px;
    max-width: 100%;
}

h2 {
    margin-top: 0;
}

footer {
    background-color: #f2f2f2;
    color: #3d3d3d;
    text-align: center;
}

@media screen and (min-width: 750px) {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 750px) {

    .h1 {
        width: 100%;
        height: 190px;
    }

    .logo {
        margin-top: 0;
    }

    .conteudo {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    #linha-horizontal1 {
        margin: auto;
        width: 70%;
    }

    .img1,
    .img2,
    #text,
    #text2,
    #text3 {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #linha-horizontal2,
    #linha-horizontal3 {
        margin: auto;
        margin-top: 20px;
    }
}